.container {
    text-align: center;
    width: 50%;
    margin: auto;
    border: 3px solid gray;
}

.player {
    box-sizing: border-box;
    padding: 9px 26px;
    margin: 18px;
    border-radius: 12px;
}

.player:hover {
    cursor: pointer;
}

body {
    text-align: center;
}

hr {
    margin: 50px 0;
}